<<<<<<< HEAD
.main-bg {
    background-image:url('../img/pattern-randomized.svg');
    background-size: cover;
    background-position: center center;
}

.white-bg {
    background-color:var(--white-color);
    color: #121216;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color#020123);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content:'';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a::hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 65px;
}

.section {
    min-height: 100vh;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    will-change: transform;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.1);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
=======
.main-bg {
    background-image:url('../img/main-backgroud.svg');
    background-size: cover;
    background-position: center center;
    color:var(--white-color)
}

.white-bg {
    background-color:var(--white-color);
    color: #020123;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color#020123);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content:'';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a::hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 65px;
}

.section {
    min-height: 100vh;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    will-change: transform;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.1);
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
>>>>>>> 3501e72cebd2441b8a919bac5d38144b2d9d7b25
}